/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 100%; /*16px*/
}
#header {
  height: 4.5rem;
}
.logo {
  color: hsl(120, 50%, 66%);
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Pai {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  flex-direction: column;
}
