/* ________ RESET __________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/*___________ VARIABLES ___________*/

:root {
    --color: hsl(276, 89%, 44%);
}


/*__________ layout_____________*/

#header {
    height: 4.5rem;
}

p {}


/*__________ BASE ____________*/

body {
    font: 400 1rem "DM sans", sans-serif;
}

h1 {
    font: 400 1.875rem "poppins";
    color: var(--color);
}

nav {
    display: flex;
    justify-content: space-between;
}

.button {
    color: var(--color);
}

.logo {}

.container {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}