/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ? */

:root {}


/* layout*/

#header {
    height: 4.5rem;
}

p {}

a {
    text-decoration: none;
}

body {
    font: 400 1rem "DM sans", sans-serif;
}

h1 {
    font: 400 1.875rem "poppins";
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {}

.container {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}